Repository ymtakt/nextjs_hono_monorepo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install_dependencies, lint:check, test:frontend, test:backend, test:integration, coverage:validation, build:frontend

install_dependencies:
  cache:
    key:
      files:
      - bun.lock
      - package.json
    paths:
    - node_modules/
    - typescript/frontend/node_modules/
    - typescript/backend/node_modules/
    - .npm/
    policy: pull-push
  stage: .pre
  image: oven/bun:latest
  script:
  - echo "📦 Installing dependencies..."
  - bun install
  ...

lint:check:
  stage: lint
  image: oven/bun:latest
  cache:
    cache:
      key:
        files:
        - bun.lock
        - package.json
      paths:
      - node_modules/
      - typescript/frontend/node_modules/
      - typescript/backend/node_modules/
      - .npm/
      policy: pull-push
    policy: pull
  script:
  ...

test:frontend:
  stage: test
  image: oven/bun:latest
  cache:
    cache:
      key:
        files:
        - bun.lock
        - package.json
      paths:
      - node_modules/
      - typescript/frontend/node_modules/
      - typescript/backend/node_modules/
      - .npm/
      policy: pull-push
    policy: pull
  script:
  ...

test:backend:
  stage: test
  image: oven/bun:latest
  services:
  - name: postgres:15
    alias: postgres
  variables:
    POSTGRES_DB: myapp_test
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_URL: postgresql://testuser:testpass@postgres:5432/myapp_test
  cache:
    cache:
  ...

test:integration:
  stage: test
  image: oven/bun:latest
  services:
  - name: postgres:15
    alias: postgres
  variables:
    POSTGRES_DB: myapp_test
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_URL: postgresql://testuser:testpass@postgres:5432/myapp_test
  cache:
    cache:
  ...

coverage:validation:
  stage: coverage-report
  image: oven/bun:latest
  cache:
    cache:
      key:
        files:
        - bun.lock
        - package.json
      paths:
      - node_modules/
      - typescript/frontend/node_modules/
      - typescript/backend/node_modules/
      - .npm/
      policy: pull-push
    policy: pull
  script:
  ...

build:frontend:
  stage: test
  image: oven/bun:latest
  cache:
    cache:
      key:
        files:
        - bun.lock
        - package.json
      paths:
      - node_modules/
      - typescript/frontend/node_modules/
      - typescript/backend/node_modules/
      - .npm/
      policy: pull-push
    policy: pull
  script:
  ...

fix:gitlab ci
  .gitlab-ci.yml
Due: test:integration

feat: setup CI/CD pipeline
  .vscode/extensions.json
  typescript/frontend/src/app/(todo)/detail/[id]/page.tsx
  typescript/frontend/src/app/(todo)/edit/[id]/page.tsx
  typescript/frontend/src/app/globals.css
  typescript/frontend/src/component/client-page/todo/TodoEditClientPage.tsx
  typescript/frontend/src/component/client-page/todo/TodoListClientPage.tsx
  typescript/frontend/src/component/client-page/todo/TodoRegisterClientPage.tsx
  typescript/frontend/src/component/client-page/todo/action.test.ts
  typescript/frontend/src/domain/logic/action/todo/create-todo.test.ts
  typescript/frontend/src/domain/logic/action/todo/create-todo.ts
  typescript/frontend/src/domain/logic/action/todo/delete-todo.test.ts
  typescript/frontend/src/domain/logic/action/todo/delete-todo.ts
  typescript/frontend/src/domain/logic/action/todo/update-todo.test.ts
  typescript/frontend/src/domain/logic/action/todo/update-todo.ts
  typescript/frontend/src/domain/logic/ssr/todo/fetch-todo.test.ts
  typescript/frontend/src/domain/logic/ssr/todo/fetch-todo.ts
  typescript/frontend/src/domain/logic/ssr/todo/fetch-todos.test.ts
  typescript/frontend/src/domain/logic/ssr/todo/fetch-todos.ts
  typescript/frontend/src/util/date-format.test.ts
  typescript/frontend/src/util/form-action-state.test.ts
  typescript/frontend/src/util/server-actions.test.ts
Due: install_dependencies, lint:check, test:frontend, coverage:validation, build:frontend

feat: setup CI/CD pipeline
  .gitlab-ci.yml
  typescript/backend/prisma/schema.prisma
Due: install_dependencies, lint:check, test:backend, test:integration, coverage:validation

feat: setup CI/CD pipeline
  typescript/backend/package.json
Due: install_dependencies, lint:check, test:backend, coverage:validation

feat: setup CI/CD pipeline
  bun.lock
Due: install_dependencies, lint:check, test:frontend, test:backend, test:integration, coverage:validation, build:frontend

feat: setup CI/CD pipeline
  typescript/backend/prisma/schema.prisma
Due: install_dependencies, lint:check, test:backend, coverage:validation

feat: setup CI/CD pipeline
  .gitlab-ci.yml
Due: test:integration

feat: setup CI/CD pipeline
  .gitlab-ci.yml
  typescript/backend/vitest.config.ts
Due: install_dependencies, lint:check, test:backend, test:integration, coverage:validation

fix:gitlab ci
  .gitlab-ci.yml
  .husky/pre-commit
  .vscode/launch.json
  .vscode/settings.json
  README.md
  bun.lock
  docs/rules/frontend/test.md
  docs/rules/server/handler-test.md
  package-lock.json
  package.json
  typescript/backend/package.json
  typescript/backend/src/index.ts
  typescript/backend/src/util/logger.ts
  typescript/frontend/package.json
Due: install_dependencies, lint:check, test:frontend, test:backend, test:integration, coverage:validation, build:frontend

fix:gitlab ci
  .husky/pre-commit
Due: none

fix:gitlab ci
  .gitlab-ci.yml
  .vscode/settings.json
Due: test:integration

fix:backend ci test
  typescript/backend/src/endpoint/handler/todo/createTodoHandler.test.ts
  typescript/backend/src/endpoint/handler/todo/deleteTodoHandler.test.ts
  typescript/backend/src/endpoint/handler/todo/getTodoHandler.test.ts
  typescript/backend/src/endpoint/handler/todo/getTodosHandler.test.ts
  typescript/backend/src/endpoint/handler/todo/updateTodoHandler.test.ts
  typescript/backend/src/util/prisma.ts
  typescript/backend/src/util/test-util/globalSetup.ts
  typescript/backend/src/util/test-util/setup.ts
  typescript/backend/vitest.config.ts
Due: install_dependencies, lint:check, test:backend, coverage:validation

fix:config
  .gitlab-ci.yml
  typescript/backend/vitest.config.ts
Due: install_dependencies, lint:check, test:backend, test:integration, coverage:validation

fix:test
  typescript/frontend/src/component/client-page/todo/action.test.ts
  typescript/frontend/src/component/client-page/todo/action.ts
  typescript/frontend/src/domain/logic/action/todo/create-todo.test.ts
  typescript/frontend/src/domain/logic/action/todo/delete-todo.test.ts
  typescript/frontend/src/domain/logic/action/todo/update-todo.test.ts
  typescript/frontend/src/domain/logic/ssr/todo/fetch-todo.test.ts
  typescript/frontend/src/domain/logic/ssr/todo/fetch-todos.test.ts
  typescript/frontend/src/domain/logic/utils/todo/transform-to-todo-entity.test.ts
  typescript/frontend/src/util/date-format.test.ts
  typescript/frontend/src/util/form-action-state.test.ts
  typescript/frontend/src/util/server-actions.test.ts
  typescript/frontend/src/util/test-util/except-value.test.ts
  typescript/frontend/src/util/test-util/except-value.ts
Due: install_dependencies, lint:check, test:frontend, coverage:validation, build:frontend

fix:css
  typescript/frontend/src/app/globals.css
Due: install_dependencies, lint:check, test:frontend, coverage:validation, build:frontend

Path conditions:
  install_dependencies: any of: typescript/**/*, package.json, bun.lock
  lint:check: any of: typescript/**/*, *.{js,ts,json,md}, package.json, bun.lock
  test:frontend: any of: typescript/frontend/**/*, package.json, bun.lock
  test:backend: any of: typescript/backend/**/*, package.json, bun.lock
  test:integration: any of: package.json, bun.lock, *.md, .gitlab-ci.yml
  coverage:validation: any of: typescript/**/*, package.json, bun.lock
  build:frontend: any of: typescript/frontend/**/*, package.json, bun.lock
